[submodule "dotbot"]
	path = 3rdparty/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-zsh"]
	path = 3rdparty/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "rbenv"]
	path = 3rdparty/rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "ruby-build"]
	path = 3rdparty/ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule "zsh-config/plugins/zsh-autosuggestions"]
	path = zsh-config/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh-config/plugins/zsh-syntax-highlighting"]
	path = zsh-config/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "z"]
	path = 3rdparty/z
	url = https://github.com/rupa/z.git
[submodule "spaceship-prompt"]
	path = 3rdparty/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "climate"]
	path = 3rdparty/climate
	url = https://github.com/adtac/climate.git
[submodule "3rdparty/textmate-solarized"]
	path = 3rdparty/textmate-solarized
	url = https://github.com/deplorableword/textmate-solarized.git
[submodule "3rdparty/git-open"]
	path = 3rdparty/git-open
	url = https://github.com/paulirish/git-open.git
