[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "rbenv"]
	path = rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "powerlevel9k"]
	path = powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "ruby-build"]
	path = ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule "zsh-config/plugins/zsh-autosuggestions"]
	path = zsh-config/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh-config/plugins/zsh-syntax-highlighting"]
	path = zsh-config/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule "spaceship-prompt"]
	path = spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "climate"]
	path = climate
	url = https://github.com/adtac/climate.git
