[Desktop Entry]
Version=1.0
Type=Application
Name=JetBrains Rider
Icon=/home/pknopf/apps/rider/current/bin/rider.png
Exec="/home/pknopf/apps/rider/current/bin/rider.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-rider
