[Desktop Entry]
Version=1.0
Type=Application
Name=JetBrains GoLand
Icon=/home/pknopf/apps/goland/current/bin/goland.png:
Exec="/home/pknopf/apps/goland/current/bin/goland.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-goland
